<div class="jumbotron">
  <h1>What You Say Na!</h1>
  <p>this is my app that's all...</p> </div>
  
<%= link_to 'About Us', home_about_path, class: 'btn btn-primary' %>
<%= link_to 'Home', root_path, class: 'btn btn-primary' %>


